@model Universidad.DbModels.Matricula

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Matricula</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Idmatricula" />
            <div class="form-group">
                <label asp-for="Idalumno" class="control-label"></label>
                <select asp-for="Idalumno" class="form-control" asp-items="ViewBag.Idalumno"></select>
                <span asp-validation-for="Idalumno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idprofesor" class="control-label"></label>
                <select asp-for="Idprofesor" class="form-control" asp-items="ViewBag.Idprofesor"></select>
                <span asp-validation-for="Idprofesor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idmateria" class="control-label"></label>
                <select asp-for="Idmateria" class="form-control" asp-items="ViewBag.Idmateria"></select>
                <span asp-validation-for="Idmateria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nota" class="control-label"></label>
                <input asp-for="Nota" class="form-control" />
                <span asp-validation-for="Nota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
